@import '/css/colors.css';
@import '/css/common.css';
@import '/css/footer.css';
@import '/css/navigation.css';
@import '/css/results.css';

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary-1);
}

.main__item:nth-child(2) {
    width: 100%;
    justify-self: stretch;
    align-self: stretch;
    height: 100%;
}

.main__item:nth-child(1) {
    float: right;
}

.main__item:nth-child(1)::after {
    content: '';
    clear: both;
}

.main__add-user-form-container {
    margin: auto;
    width: 50%;
}

.add-user-form {
    border: 5px solid var(--color-secondary-2-3);
    border-radius: 20px;
    background-color: var(--color-secondary-1-2);
}

.add-user__title {
    color: var(--color-secondary-2-4);
    text-align: center;
}

.add-user-form__form {
    display: flex;
    flex-direction: column;
}


#add-user-form__user-name, #add-user-form__user-email {
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-user-form__form .row {
    margin-top: 20px;
}

#add-user-form__form {
    margin: 20px;
}

.add-user__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#add-user-form__form .send-button {
    margin: 0;
    padding: 0;
    outline: none; 

    background-color: var(--color-secondary-1-4);
    color: var(--color-secondary-1-1);
    font-weight: bold;
    border: 2px solid var(--color-secondary-1-1);
    border-radius: 10px;
    height: 40px;
    width: 30%;
}

#add-user-form__form .send-button:hover {
    box-shadow: 0px 0px 10px black;
}
