body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main {
    flex: 1;
}

.header {
    height: 100px;
}

.col-25 {
    width: 25%;
}

.col-75 {
    width: 75%;
}

.row {
    display: flex;
}

html {
    height: 100%;
}