.fingerprint {
    text-align: center;
    color: var(--color-primary-4);
    text-shadow: 0 0 3px var(--color-primary-2);
}

.footer {
    border-top: 5px solid var(--color-primary-4);
    background-color: var(--color-primary-2);
}