@import '/css/colors.css';
@import '/css/myButton.css';

.navigation__link-container {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.navigation__item {
    margin: 10px;
}