@import '/css/colors.css';

.error-message, .ok-message, .warning-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message__reason {
    background-color: lightcoral;
    text-align: center;
    border: 3px solid red;
    color: red;
    border-radius: 1px;
    min-width: 30%;
    max-width: 50%;
    margin: 0;
    padding: 10px;
}

.warning-message__reason {
    background-color: rgb(255, 208, 121);
    text-align: center;
    border: 3px solid brown;
    color: brown;
    border-radius: 1px;
    min-width: 30%;
    max-width: 50%;
    margin: 0;
    padding: 10px;
}

.ok-message__reason {
    background-color: lawngreen;
    text-align: center;
    border: 3px solid darkgreen;
    color: darkgreen;
    border-radius: 1px;
    min-width: 30%;
    max-width: 50%;
    margin: 0;
    padding: 10px;
}